@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body,
html {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

#root {

  #isHidden { display: none; }

  & > div:first-of-type {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    & > div {
      width: 90%;
      text-align: center;
    }

    & > div:first-of-type {
      display: flex;
      justify-content: center;
      align-items: center;

      & > h1 { padding: 0 2rem 0 2rem; }
    }

    & > div:last-of-type {
      & > span {
        display: block;
        width: 40%;
        margin: 0 auto;
        padding: 150px 0 150px 0;
        font-size: 22pt;
        background-color: #666;
      }
      & > div {
        width:  35%;
        margin: 0 auto;
        padding: 2rem 0 0 0;
        & > button {
          margin: 1rem 0.5rem 1rem 0.5rem;
          padding: 1rem 2rem 1rem 2rem;
        }
      }
    }

  }

}
