@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body,
html {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

#isHidden { display: none; }

.sight-reader-layout {

  &-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    & > div {
      width: 100%;
      text-align: center;
    }

    & > button {
      position: absolute;
      left: 50%;
      top: 50%;
      padding: 1rem 2.5rem 1rem 2.5rem;
      transform: translate(-50%,-50%);
      color: #ffffff;
      background-color: #d81b60;
      font-size: 14pt;
    }
  }


  &-header {
    display: flex;
    padding: 0 6% 0 6%;
    justify-content: space-between;
    align-items: center;
    color: #4d4e4f;
    border-bottom: 1.5px solid #d81b60;

    input { cursor: pointer; }

    & > h1 {
      font-size: 15pt;
      font-weight: normal;
    }

    & > p { font-size: 15pt; }
  }


  &-portal-main {
    padding: 2.5rem 5% 0 5%;

    & > h2 { font-size: 15pt; }

    & > img {
      display: block;
      width: 30%;
      margin: 0 auto;
      font-size: 22pt;
    }

    & > div {
      width:  35%;
      margin: 0 auto;
      padding: 2rem 0 0 0;

      & > button {
        margin: 1rem 0.5rem 1rem 0.5rem;
        padding: 1rem 2rem 1rem 2rem;
        font-size: 12pt;
      }
    }
  }

} //outer most wrapper class
